<a href='https://anilist.co/api/v2/oauth/authorize?client_id=17992&response_type=token'>Login with AniList</a>
<br/>

<form action="/" method="get">
    <input type="text" name="key" id="key">
    <input type="submit" value="Submit">
</form>