<form action="javascript:getSequels(<%= key %>)" method="get">
    <input type="text" name="key" id="key">
    <input type="submit" value="Submit">
</form>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%= key %>